### OSX ###
.DS_Store

### Intellij ###
.idea

### VSCode ###
.metals

### Python ###
venv
*.pyc
__pycache__

### Other ###
out
*bck
*.slumps.log
crow_out

utils/reports

dist
*egg-info

payload*
traces
.vscode
.metals
traces
utils/reports

### Wasm-Fuzzer ###
wasm-fuzzer/fuzzing-client-afl/afl_out
wasm-fuzzer/fuzzing-client-afl/cpp_out
wasm-fuzzer/logs/*

*.log
*.log.txt