[submodule "souper"]
	path = souper
	url = https://github.com/KTH/souper.git
	branch = master
[submodule "wabt"]
	path = wabt
	url = git://github.com/WebAssembly/wabt.git
	branch = master
[submodule "llvm"]
    path = llvm
    url = https://github.com/Jacarte/llvm-project.git
    branch = master
