### OSX ###
.DS_Store

### Intellij ###
.idea

### Python ###
venv
*.pyc
__pycache__

### Other ###
out
*bck
*.slumps.log
crow_out


dist
*egg-info

### Wasm-Fuzzer ###
wasm-fuzzer/fuzzing-client-afl/afl_out
wasm-fuzzer/fuzzing-client-afl/cpp_out
wasm-fuzzer/logs/*
