[submodule "souper"]
	path = souper
	url = https://github.com/KTH/souper.git
	branch = master
[submodule "wabt"]
	path = wabt
	url = git://github.com/WebAssembly/wabt.git
	branch = master
[submodule "llvm"]
    path = llvm
    url = https://github.com/Jacarte/llvm-project
    branch = master
[submodule "wasm-fuzzer/fuzzing-server-swam"]
	path = wasm-fuzzer/fuzzing-server-swam
	url = https://github.com/KTH/swam.git
	branch = slumps
[submodule "crow-linker"]
	path = crow-linker
	url = https://github.com/Jacarte/crow-linker
	branch = master