<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>{% block title %}Ligths simulator{% endblock %}</title>
    <style>

    </style>

    {% block head %}
    {% endblock %}
</head>
<body>
    {% block brand %}

    {%endblock%}

    {% block content %}

    {% endblock %}


    {% block command_form %}

    <div id="send">

            {% if not session_name %}
                <h5>Session</h5>
                <input id="cmdSession" placeholder="Session name" />
            {% endif %}
            <h5>Ligth ID</h5>
            <input id="cmdID" placeholder="Ligth Id" />

            <h5>RGB color</h5>
            <div id="color-container">

                    <input id="cmdR" type="number" placeholder="R" />
                    <input id="cmdG"  type="number" placeholder="G" />
                    <input id="cmdB" type="number" placeholder="B"/>
            </div>

            <a id="send-btn">Send command</a>
        </div>
    {% endblock %}

    <script src="https://code.jquery.com/jquery-1.11.1.js"></script>
<script src="//cdnjs.cloudflare.com/ajax/libs/socket.io/2.2.0/socket.io.js" integrity="sha256-yr4fRk/GU1ehYJPAs8P4JlTgu0Hdsp4ZKrx8bDEDC3I=" crossorigin="anonymous"></script>
    <script>
        const protocol = '{{PROTOCOL}}'
    </script>

    {% block scripts %}


    {% endblock %}


</body>
</html>