/* src/index.css */
#my-extension-root {
  width: 400px;
  height: auto;
  position: fixed;
  overflow-y: auto;
  top: 0px;
  right: 0px;
  z-index: 2147483647;
  background-color: rgba(0,0,0,0.9);
  box-shadow: 0px 0px 5px #0000009e;
  color: white !important;
}

/* src/content.css */
.my-extension {
	padding: 20px;
 }
 .my-extension h1 {
	 color: #000;
 }
