/* src/index.css */
#wakoko-extension-root iframe {
    width: auto;
    height: auto;
    min-height: 300px;
    min-width: 300px;
    border: none;
    position: fixed;
    z-index: 9999998;
    top: 0;
    right: 0;

    background-color: rgba(0,0,0,0.5 green, blue, alpha);
}

